@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
html {
    scroll-behavior: smooth;
}

body {
  overflow: auto;
}

/* For WebKit browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 4px; /* Set the width of the scrollbar */
}

/* For Firefox */
::-webkit-scrollbar-thumb {
  width: 4px; /* Set the width of the scrollbar thumb (the draggable part) */
}

/* Track and thumb styles */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
}

/* Apply this style to the container element */
.container {
  /* Other styles */
  overflow-y: auto; /* This allows vertical scrolling */
  overflow-x: hidden; /* This hides horizontal scrolling */
}

